*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

@mixin aspect-ratio($width, $height, $displayType: block, $important:false) {

  display: $displayType;
  position: relative;
  height: 0;

  @if $important {
    padding-top: ($height / $width) * 100% !important;
  }
  @else {
    padding-top: ($height / $width) * 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.hero {
  height: 100vh;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 24px;
    height: 100vh;
  }

  &-content {
    width: 50%;
  }

  &-content-inner {
    width: 400px;
    margin: 0 auto;
    color: #323232;
    
    h1 {
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 1.5rem;

      .hero-content-line {
        display: block;
        margin: 0;
        height: 44px;
        overflow: hidden;
      }
    }

    p {
      font-size: .875rem;
      line-height: 1.5rem;
      font-weight: 400;
      padding-right: 3rem;
      margin-bottom: 3.5rem;
    }

    .btn-row {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 56px;
        height: 1px;
        background: #dfdfdf;
        top: 50%;
        left: -68px;
      }

      button {
        background: none;
        border: none;
        font-size: 12px;
        padding: 0;
        cursor: pointer;

        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .7px;
        display: flex;
        align-items: center;

        position: relative;

        &:focus{
          outline: none;
        }

        .arrow-icon {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #007fff;
          height: 42px;
          width: 42px;
          border-radius: 100px;
          left: 80px;
        } 
      } 
    }
  }

  &-images {
    width: 50%;
    height: 100vh;
    position: relative;
  }

  &-image {

    position: absolute;
    overflow: hidden;

    div{
      @include aspect-ratio(1, 1);
    }

    &.girl {
      top: 0;
      right: 0;
      width: 45%;
      height: 50%;
    }

    &.boy {
      bottom: 24px;
      left: 0;
      width: 52%;
      height: 65%;
    }

    img {
      height: auto!important;
    }
  }
}

.container {
  width: 1440px;
  min-width: 1440px;
  margin: 0 auto;
}